doctype html
html
  head
    title page for updating news
  style.
    body {font-family: Arial, Helvetica, sans-serif;}
    h2{
    padding-top: 0px;
    padding-right:50px;
    padding-bottom:20px;
    padding-left: 40px;
    text-align: center;
    }
    .main {
    overflow: hidden;
    background-color:lightskyblue;
    position:relative;
    width: 98.5%;
    padding-left:10px;
    padding-right:10px;
    max-height:60px;
    margin-top:0px;
    }
    input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    }
    input[type=submit] {
    background-color: lightskyblue;
    color:black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    input[type=submit]:hover {
    background-color: lightskyblue;
    }
    .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }
  body
    .main
      h2 UPLOAD YOUR NEWS HERE!
    .container
      form(action='/user' method='post')
        label(for='lname') Title
        input#lname(type='text', name='title', placeholder='enter the title of news...', maxlength='100')
        //
          <label for="country">Country</label>
          <select id="country" name="country">
          <option value="australia">INDIA</option>
          <option value="canada">UK</option>
          <option value="usa">USA</option>
          </select>
        label(for='subject') Description
        textarea#subject(name='description', placeholder='Write something..', style='height:200px', maxlength='400')
        label(for='country') Upload image
        input(type='file', name='image')
        br
        input(type='submit', value='Submit')
