extends layout

block content
  .content
    h2.lefthalf APPROVAL REQUEST FORM 
    .container1 
      a(href='/admin/logout') logout 
    .userlist-wrapper
        ul.userlist#newslist
    script(src="/javascripts/index.js")