<<<<<<< HEAD
doctype html
html
head
    title MyNews
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js', type='text/javascript')
    style.
      body {
      background-color: gainsboro;
      margin:0px 0px 0px 0px;
      }
      img {
      width: 62%;
<<<<<<< HEAD
      height: auto;
      margin-top:0px;
=======
      height:auto;
>>>>>>> 91e0cf5823a2c3c65bb0af38052f5b6392fd4028
      }
      .input1 {
      width: 100%;
<<<<<<< HEAD
      font-size: 100%;
      height: 20%;
      margin-top:0px;
=======
      font-size: 90%;
      height: 200%;
>>>>>>> 91e0cf5823a2c3c65bb0af38052f5b6392fd4028
      }
      .input11 {
      margin-left: 500px;
      margin-right: 200px;
      margin-bottom: 10px;
      }
      .two {
      border: 5px white;
      padding: 20px;
      box-shadow: 1px 3px 7px 1px grey;
      margin: 10px 230px 10px 230px;
      }
      .last {
      border: 5px white;
      padding: 20px;
      box-shadow: 1px 3px 7px 1px grey;
      margin: 10px 230px 10px 195px;
      }
      * {
      box-sizing: border-box;
      }
      .column {
      float: left;
<<<<<<< HEAD
      height: 140px;
      
           }
=======
      height: 100px;
      }
>>>>>>> 91e0cf5823a2c3c65bb0af38052f5b6392fd4028
      .left {
      color: white;
      width: 75%;
      font-size: 150%;
      }
      .right {
      color: white;
      width: 25%;
      font-size: 140%;
      }
      .row:after {
      content: "";
      display: table;
      clear: both;
      }
<<<<<<< HEAD
      .content{
         max-width: 900px;
        margin: auto;
        background: white;
        padding: 10px;
        padding-right:10px;
      }
      .container{
        max-width: 900px;
        margin: auto;
        background: white;
        padding: 0px;
        padding-right:0px;
      }


 body
   .container
    .input1(style='background-color:lightskyblue;')
=======
   
      
  body
    .input1(style='background-color: #008CBA;')
>>>>>>> 91e0cf5823a2c3c65bb0af38052f5b6392fd4028
      .row
        .column.left
          center
            h1 Welcome To News
        .column.right
          h2
            a(href='/index') Upload Your News
<<<<<<< HEAD
  .content
        
=======
    ul#approved
    script(src='/javascripts/index1.js')
    .two
      center
        div
          img(src='/images/3.webp')
          h1 Summer Diet Alert: Expert Food Tips On What To Do And Avoid This Summer
          p(style='font-size:150%;')
            | Summers are here in full force. The sweltering heat has started to take a toll on our energy levels, skin and several other aspects our daily lives. Most of us even dread the thought of stepping out, but you .........
            a(href='2.html') read more
  
   
=======
extends layout1
block content
  .content
   h1.head MyNews
   .header
     
    div.container
      a(href='/index') Upload Your News
       
    .userlist-wrapper
>>>>>>> 91e0cf5823a2c3c65bb0af38052f5b6392fd4028
      ul#approved
    script(src="/javascripts/index1.js")
>>>>>>> 6b53645bae3f55948c0a084c9401f2f0c5a4204c
