doctype html
html
head
    title MyNews
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js', type='text/javascript')
    style.
      body {
      background-color: white;
      }
      img {
      width: 62%;
      height:auto;
      }
      .input1 {
      width: 100%;
      font-size: 90%;
      height: 200%;
      }
      .input11 {
      margin-left: 500px;
      margin-right: 200px;
      margin-bottom: 10px;
      }
      .two {
      border: 5px white;
      padding: 20px;
      box-shadow: 1px 3px 7px 1px grey;
      margin: 10px 230px 10px 230px;
      }
      .last {
      border: 5px white;
      padding: 20px;
      box-shadow: 1px 3px 7px 1px grey;
      margin: 10px 230px 10px 195px;
      }
      * {
      box-sizing: border-box;
      }
      .column {
      float: left;
      height: 100px;
      }
      .left {
      color: white;
      width: 75%;
      font-size: 180%;
      }
      .right {
      color: white;
      width: 25%;
      font-size: 140%;
      }
      .row:after {
      content: "";
      display: table;
      clear: both;
      }
   
      
  body
    .input1(style='background-color: #008CBA;')
      .row
        .column.left
          center
            h1 Welcome To News
        .column.right
          h2
            a(href='/index') Upload Your News
    ul#approved
    script(src='/javascripts/index1.js')
    .two
      center
        div
          img(src='/images/3.webp')
          h1 Summer Diet Alert: Expert Food Tips On What To Do And Avoid This Summer
          p(style='font-size:150%;')
            | Summers are here in full force. The sweltering heat has started to take a toll on our energy levels, skin and several other aspects our daily lives. Most of us even dread the thought of stepping out, but you .........
            a(href='2.html') read more
  
   
