doctype html
html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')

    title MyNews
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js', type='text/javascript')
    style.
      html{
      padding: 0;
      line-height: 1.5;
      font-family: 'Open sans';
      width:100%;
      }
      body {
      line-height: 1.5;
      font-family: 'Open sans';
      margin: 0;
      background-color: #ece6e1;
      }
      header {
      background-color: #4278b7;
      color: white;
      width: 100%;
      height: 80px;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 20px;
      }
      .news-container {
      max-width: 650px;
      padding: 100px 2.5%;
      margin: 0 auto;
      width: 95%;
      }
      .news-list {
      background-color: #ffffff;
      border: 0% white;
      box-shadow: 0px 3px 3px 1px grey;
      }
      img {
      width: 100%;
      height: 60%;
      }
      last {
      background-color: #ffffff;
      border: 0% white;
      box-shadow: 0px 3px 3px 1px grey;
      max-width: 97%;
      }
      .news-detail {
      width: 100%;
      margin-bottom: 1%;
      }
      .p {
      width: 70%;
      height: 10%;
      font-family: 'Open Sans', sans-serif;
      font-size: 17px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      background-color: #ece6e1;
      padding:0%;
      margin-bottom: 0px;
      }
      .p2 {
      width: 70%;
      height: 10%;
      font-family: 'Open Sans';
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: #4a4a4a;
      padding: 25%;
      }
      ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px 0px 0px 0px;
      }
      li {
      background-color: #ffffff;
      border: 0% white;
      box-shadow: 0px 3px 3px 1px grey;
      margin-bottom: 20px;
      padding-bottom:30px;
      padding-right:18px;
      padding-left:18px;
      padding-top:18px;
      }
      h1 {
      margin: 1% 0% 20% 50%;
      }
      .left-half {
      float: left;
      width: 75%;
      }
      .right-half {
      float: right;
      width: 25%;
      height:100%;
      }
      .uplod {
      
      width: 20%;
      height: 70%;
      margin: 10% 8% 4% 60%;
      color: #ffffff;
      }
      .a {
      color: white;
      }
      d,weekday,monthday{
      font-weight: bold;
      }
      
  body
    header
      .left-half
        h1 News
      .right-half
        h6.uplod
          a(href='/upload')
            img(src='/images/upload2.png')
    .news-container
      ul#approved
      script(src='/javascripts/index1.js')
      