doctype html
html
  head
    title page for updating news
  style.
    body {font-family: Arial, Helvetica, sans-serif;}
    h2{
    margin: 30px 30% 30px 20%;
    color: white;
    font-size:30px;
    }
    .main {
    overflow: hidden;
    background-color:#4278b7;
    width: 98.5%;
    padding-left:10px;
    padding-right:10px;
    height:80px;
    }
    input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 30px;
    resize: vertical;
    }
    input[type=submit] {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4278b7;
    color:white;
    padding: 12px 20px;
    font-size: 21px;
    margin-top: 25px;
    }
    input[type="file"] {
    margin-left: 20px;
    font-size:18px;
    }
    input[type=submit]:hover {
    background-color: #4278b7;
    }
    .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding:10px;
    max-width:98.5%;
    width: 100%;
    }
    label{
    font-size:25px;
    margin-bottom:20px;
    font: bold;
    }
    .left-half {
    float: left;
    width: 10%;
    }
    .right-half {
    float: right;
    width: 90%;
    height:100%;
    }
    img{
    padding: 20px 10px 10px 10px;  
    }
    .a{
    margin-top:50px;
    }
    check {
    font-size: 200%;
    }
  body
    .main
      .left-half
        a(href='/last')
          img(src="/images/back1.png")
      .right-half
         h2 UPLOAD YOUR NEWS HERE!    
    .container
      form(action='/uploadnews' method='post' enctype='multipart/form-data' style='font-size: 20px;')
        label(for='lname') Title
        input#lname(type='text', name='title', placeholder='Enter The Title Of News...', maxlength='100',required, style='font-size:19px')
        //
          <label for="country">Country</label>
          <select id="country" name="country">
          <option value="australia">INDIA</option>
          <option value="canada">UK</option>
          <option value="usa">USA</option>
          </select>
        label(for='subject') Description
        textarea#subject(name='description', placeholder='Write Description...',style="height:200px;font-size:20px",maxlength='500',required)
        label(for='country') Upload Image
        input(type='file', name='pic',required)
        br
        input(type='submit', value='Submit')
