body{
    background:gainsboro;
}
.content {
    max-width: 100%;
    margin: auto;
    background: white;
    padding-right: 10px;
}
.head{ 
    text-align: center;

    }
    img{
        width:98%;
        height:80%;
        }
.A{
    overflow: hidden;
     background-color:lightskyblue;
     position:relative;
     width: 100%;
     padding-right:0px;
     max-height:50px;
    }
     .content {
       
        margin: auto;
        background: white;
        padding: 10px;
        padding-right:10px;
        }
        .container a{
            float: right;
             text-transform: uppercase;
             display: block;
             color: blue ;
             margin-top: 0px;
        }