body {
    background-color: white;
}

img {
    width: 62%;
    height: 70%;
}

.input1 {
    color: black;
    width: 100%;
    font-size: 100%;
    height: 200%;
}

.input11 {
    margin-left: 500px;
    margin-right: 200px;
    margin-bottom: 10px;
}

.one {
    border-style: groove;
    margin: 10px 175px 10px 175px;
    border-color: rgb(233, 11, 11);
}

.two {
    border-style: groove;
    margin: 10px 175px 10px 175px;
    border-color: rgb(233, 11, 11);
}

.three {
    border-style: groove;
    margin: 10px 175px 10px 175px;
    border-color: rgb(233, 11, 11);
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    height: 150px;
}

.left {
    width: 75%;
    font-size: 180%;
}

.right {
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}