body {
    background: gainsboro;
}

.content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding-right: 10px;
}

.head {
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 40px;
    text-align: center;
}

img {
    width: 98%;
    height: 80%;
}

.A {
    overflow: hidden;
    background-color: lightskyblue;
    position: relative;
    width: 100%;
    padding-right: 0px;
    max-height: 50px;
}

.content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
    padding-right: 10px;
}